table{
     border: 1px black;
     width: 98%;
     /*width: 520px;*/
	 border-collapse: collapse;  
	 font-family: "Gill Sans", arial, helvetica, sans-serif;
     font-size: 12px;      
}

tr{
        border-bottom: 1px dotted silver;       
}

.dataTable, 
.numberTable,
.resultsTable{ font-size: 10pt }

.dataTable td, resultsTable td { text-align: right; }
.dataTable th, resultsTable td  { text-align: left; }

.tableRowHeader {
  text-align: right;
  font-weight: bold;
  background: silver;
}

.cellHighlight {
  font-weight: bold;
  /*background-color: white;*/
}

.tableCell_header {
  color: black;
  background-color: silver;
}

.sumCell{
    font-size:110%;
    font-weight: bold;
}

.tableRowOdd {
 
}



.dataTable td a:link a:visited{
       border: none;
       text-decoration: none;        
       color: black; 
       text-align: right;
}

.dataTable td a:hover{
       border: none;
       text-decoration: none;        
       color: black; 
       background-color: silver;
       display:block;   
}


.imageCell a:link{
	border: none;
        text-decoration: none;
	}


.tableRowEven {
  
}

.tableRowTotals {
  background-color: silver;
  font-weight: bold;
}

td a:hover{	
    border: none;
    /*border: 1px solid #d5d0c4;*/
    background: silver;
    display:block;
}

.up{
        color : green;               
}

.down{
        color : red;               
}

.normal{ color:#444444; }

.resultsTable tr.tableRowEven{
       background: white;      
}

.resultsTable tr.tableRowOdd{
       background:  white;      
}
